<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="form-container">
  <label for="name" class="form-label">Name:</label>
  <input type="text" id="name" formControlName="name" class="form-input" />
  <div
    *ngIf="
      recipeForm.get('name')?.invalid &&
      (recipeForm.get('name')?.dirty || recipeForm.get('name')?.touched)
    "
    class="error-message"
  >
    <div *ngIf="recipeForm.get('name')?.hasError('required')">
      Name is required
    </div>
    <div *ngIf="recipeForm.get('name')?.hasError('maxlength')">
      Name cannot exceed 50 characters
    </div>
  </div>

  <label for="description" class="form-label">Description:</label>
  <textarea
    id="description"
    formControlName="description"
    class="form-input"
  ></textarea>
  <div
    *ngIf="
      recipeForm.get('description')?.invalid &&
      (recipeForm.get('description')?.dirty ||
        recipeForm.get('description')?.touched)
    "
    class="error-message"
  >
    Description is required
  </div>

  <label class="form-label">Ingredients:</label>
  <div formArrayName="ingredients" class="form-array-container">
    <div
      *ngFor="let ingredient of ingredientForms.controls; let i = index"
      class="form-group"
      [formGroupName]="i"
    >
      <input
        type="number"
        formControlName="amount"
        placeholder="Amount"
        class="form-input w-25"
      />
      <select
        formControlName="ingredientId"
        class="form-input w-50"
        placeholder="Amount"
      >
        <option value="" selected disabled hidden>
          Seleccione un ingrediente
        </option>
        <option
          *ngFor="let item of ingredients"
          [value]="item._id"
          class="form-input"
        >
          {{ item.name }}
        </option>
      </select>
      <button
        type="button"
        (click)="removeIngredient(i)"
        class="form-button w-25"
      >
        Remove
      </button>
    </div>
    <button type="button" (click)="addIngredient()" class="form-button">
      Add Ingredient
    </button>
  </div>

  <label for="photoUrl" class="form-label">Photo URL:</label>
  <input
    type="text"
    id="photoUrl"
    formControlName="photoUrl"
    class="form-input"
  />
  <div
    *ngIf="
      recipeForm.get('photoUrl')?.invalid &&
      (recipeForm.get('photoUrl')?.dirty || recipeForm.get('photoUrl')?.touched)
    "
    class="error-message"
  >
    Photo URL is required
  </div>

  <label class="form-label">Steps:</label>
  <div formArrayName="steps" class="form-array-container">
    <div
      *ngFor="let step of stepForms.controls; let i = index"
      class="form-group"
    >
      <input
        type="text"
        [formControlName]="i"
        placeholder="Step {{ i + 1 }}"
        class="form-input w-75"
      />
      <button type="button" (click)="removeStep(i)" class="form-button w-25">
        Remove
      </button>
    </div>
    <button type="button" (click)="addStep()" class="form-button">
      Add Step
    </button>
  </div>

  <label for="notes" class="form-label">Notes:</label>
  <textarea id="notes" formControlName="notes" class="form-input"></textarea>

  <label for="servings" class="form-label">Servings:</label>
  <input
    type="number"
    id="servings"
    formControlName="servings"
    class="form-input"
  />
  <div
    *ngIf="
      recipeForm.get('servings')?.invalid &&
      (recipeForm.get('servings')?.dirty || recipeForm.get('servings')?.touched)
    "
    class="error-message"
  >
    Servings is required
  </div>

  <label for="nutritionInfo" class="form-label">Nutrition Info:</label>
  <input
    type="text"
    id="nutritionInfo"
    formControlName="nutritionInfo"
    class="form-input"
  />

  <button type="submit" [disabled]="recipeForm.invalid" class="form-button">
    Submit
  </button>
</form>
