<!-- NavbarComponent.html -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img
      src="../../../../../../assets/imgs/Logo_negro.png"
      alt="Logo"
      width="25px"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="ingredientesDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Ingredientes
        </a>
        <div class="dropdown-menu" aria-labelledby="ingredientesDropdown">
          <a class="dropdown-item" href="#">Agregar Ingrediente</a>
          <a class="dropdown-item" href="#">Editar Ingrediente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="recetasDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Recetas
        </a>
        <div class="dropdown-menu" aria-labelledby="recetasDropdown">
          <a class="dropdown-item" href="#">Ver recetas</a>
          <a class="dropdown-item" href="#">Editar recetas</a>
        </div>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav ml-auto">
    <ng-container *ngIf="id">
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ng-container>
    <ng-container *ngIf="!id">
      <li class="nav-item">
        <app-login></app-login>
      </li>
    </ng-container>
  </ul>
  <planner></planner>
</nav>
