$color-primary: #7CFFCB;
$color-secondary: #63e1b5;
$color-highlight: #b5f5e1;
$color-accent: #4e9a83;
$color-light: #d3fffa;
$color-dark: #101e1a;
$color-dark-light: #273b36;

.navbar {
  background-color: $color-primary;
  font-family: 'Roboto', sans-serif;

  a.navbar-brand {
    color: $color-dark;
  }

  button.navbar-toggler {
    border: none;
    svg {
      color: $color-dark;
    }
  }

  ul.navbar-nav {
    li.nav-item {
      a.nav-link {
        color: $color-dark;

        &:hover {
          color: $color-secondary;
        }
      }
    }

    li.nav-item.dropdown {
      .dropdown-menu {
        background-color: $color-light;

        a.dropdown-item {
          color: $color-dark;

          &:hover {
            background-color: $color-highlight;
            color: $color-dark-light; // Color de resaltado al hover
          }
        }

        .dropdown-divider {
          border-top-color: $color-secondary;
        }
      }

      a.nav-link.dropdown-toggle {
        color: $color-dark;

        &:hover {
          color: $color-dark-light;
        }
      }
    }
  }

  div.navbar-nav {
    a.nav-link {
      color: $color-dark;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

// Anulación de colores de enlaces
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}
