<div *ngFor="let recipe of recipes">
  <h1>
    <a [routerLink]="['/recipe', recipe._id]">
      {{ recipe.name }}
    </a>
  </h1>
  <h1>{{ recipe.description }}</h1>
  <h1>{{ recipe.servings }}</h1>
  <img [src]="recipe.photoUrl" width="150px" alt="" />
  <h1>{{ recipe.notes }}</h1>
  <div>
    <h1 *ngFor="let ingredient of recipe.ingredients">
      <ingredient-one [id]="ingredient.ingredientId ?? ''"> </ingredient-one>
    </h1>
  </div>
  <h1>{{ recipe.steps }}</h1>
  <br />
  <hr />
</div>
