<!-- app-landing.component.html -->
<section class="landing">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-4">Bienvenido a nuestra aplicación de recetas</h1>
        <p class="lead">
          Descubre y guarda tus recetas favoritas en un solo lugar.
        </p>
        <p>
          Inicia sesión con tu cuenta de Google para comenzar a disfrutar de
          todas las funciones de nuestra aplicación de recetas.
        </p>
        <app-login></app-login>
      </div>
      <div class="col-md-6">
        <div style="position: relative">
          <img
            src="../../../../../../assets/imgs/pollo.jpg"
            alt="Imagen de recetas"
            class="img-fluid"
          />
          <div
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #7cffcb29;
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
